* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.heading-text {
  font-family: "Monserrat", sans-serif;
  text-align: center;
}

#gmap {
  width: 100%;
  height: 100%;
}

#img-round {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  /*clip-path: circle(40% at 50% 45%);*/
}

.icons {
  position: relative;
  background-color: green;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.icons i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*http://matheusalves.net/#services
https://ianlunn.co.uk/*/
/*.skillSet {
  margin-right: 77px;
}*/

.logos {
  height: 120px;
  width: 120px;
}

.technologies {
  margin: 0 auto;
}

.technologies div {
  margin-top: 20px;
}

.blue {
  color: #2f23e8;
}

.lightblue {
  color: #4fa4ff;
}
